apiVersion: apps/v1
kind: Deployment
metadata:
  name: search-service
  namespace: journallabb
spec:
  replicas: 1
  selector:
    matchLabels:
      app: search-service
  template:
    metadata:
      labels:
        app: search-service
    spec:
      containers:
        - name: search-service
          image: search-service:local
          ports:
            - containerPort: 8084
          env:
            - name: PATIENT_SERVICE_URL
              value: "http://patient-service:8081"
            - name: CLINICAL_SERVICE_URL
              value: "http://clinical-service:8082"
---
apiVersion: v1
kind: Service
metadata:
  name: search-service
  namespace: journallabb
spec:
  selector:
    app: search-service
  ports:
    - port: 8084
      targetPort: 8084